# Node.js
**/node_modules/
**/dist/
**/build/

# Ambientes
**/.env*
*.log
**/logs/

# IDEs e arquivos do sistema
**/.vscode/
**/.idea/
.DS_Store

# Testes
**/coverage/
**/.nyc_output/

# Arquivos temporários
**/.tmp/
**/.temp/
**/*.pid
**/*.seed
**/*.pid.lock

# Relatórios de diagnóstico
**/report.*.json
